/*
header class
 */

.site-header .navbar-toggler{border-color: #222;}

.site-header .navbar-toggler-icon i{
  color: #222;
line-height: 30px;
}

/* logo */

.navbar-custom .navbar-brand .pn-logo {
  text-shadow: none;
}

.navbar-custom .navbar-brand:hover{
  color: #000;
}


@media (max-width: 991px){
.navbar-custom .navbar-collapse, .navbar-mainsite .navbar-collapse {
    background-color: #ffcc00 !important;
    color: #fff;
  }
}

.news-nav{
      border-bottom: 1px solid #e6ebed;
}

.news-nav a {
    color: #000;

}

.news-nav .nav-item:hover {


}

.search-bar {
  /* height: 150px !important; */
}

@media (min-width: 768px) {
.newsroom-search{
  background-color:;
  color: #000;
  border-left: solid 2px #eceeef;
  border-right: solid 2px #eceeef;
  }

.newsroom-search i {
  padding-left: 20px;
  padding-right: 20px;
}
}
.newsroom-search a{
  color: #000;
}

.newsroom-search a:hover, .newsroom-search a:active {
  color: #ffcc00;
}

.newsroom-search .fa{
  font-size: 22px;
}

	.search-highlight { background-color:#FF0; font-weight:bold; }


/*
Off canvas menu
 */
.ocs-slidebar {
  z-index: 10000 !important;
}

/*
Social Media
 */

 .fa.fa-instagram {
   color: transparent;
   background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
   background-clip: text;
   -webkit-background-clip: text;
   font-weight: 900;
 }

 .fa-facebook, .fa-facebook-square {
    color: #3b5998
}
.fa-twitter, .fa-twitter-square {
    color: #00aced
}
.fa-google-plus, .fa-google-plus-square {
    color: #dd4b39
}
.fa-youtube, .fa-youtube-play, .fa-youtube-square {
    color: #bb0000
}
.fa-tumblr, .fa-tumblr-square {
    color: #32506d
}
.fa-vine {
    color: #00bf8f
}
.fa-flickr {
    color: #ff0084
}
.fa-vimeo-square {
    color: #aad450
}
.fa-pinterest, .fa-pinterest-square {
    color: #cb2027
}
.fa-linkedin, .fa-linkedin-square {
    color: #007bb6
}
.fa-spotify {
    color: #1ED760;
}
/*
Links
 */
 .links-article-info {
     text-align: center;
     padding-top: 15px;
    /* padding-bottom: 15px; */
     background-color: #fafafa;
 }

 .links-header {
   line-height: 1.5rem !important;
   font-weight: 600 !important;
 }

/*
Top Articles
 */
 .news-lg-bg {
     height: 28em;
 }

 .news-md-bg {
    height: 12em; /*13.25*/
}

.text-shadow {
  text-shadow:0 2px 6px rgba(1,1,1,1);
}

.published-date {
  font-size: .8em;
}

.title-underline {
  border-bottom: 2px solid rgba(0,0,0,.1);
  padding-bottom: 15px;
}

/*
dividers
 */

 .vertical-divider {
   width: 1px;
   background-color: rgba(0,0,0,.1);
 }

 .divider {
   border-bottom: 1px solid rgba(0,0,0,.1);
 }

 .provost-section {
 /* border-bottom: 1px solid rgba(0,0,0,.1); */
 }

 .colleges-list li {

 }

 .colleges-list li a{
   color: #000;
 }

 .light-grey{
   background-color: #F7F7F7;
 }


/*
Provost New section frontpage
 */

.provost-new-list {

}



/*
sidebar
 */
.news-sidebar {
  border-left: 1px solid rgba(0,0,0,.1);
}

/*
Frontpage articles
 */

.pft-intro {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.pft-intro p {
  font-size: 1.2em;
  color:#6a6a6a;
}

.front-post {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.article-content .pft-title {
  font-weight: 400;
  color: #000;
}

.article-content .pft-title .article-content .pft-title:hover, .article-content .pft-title:active, .article-content .pft-title:visited {
  color: #000;
}


.front-post p{
  color:#6a6a6a;
}

.pft-readmore {
  color: #000;
  font-weight: 600;

}

/*
** Pagination
 */

.pagination a {
  color: #000;
}

/*
*
* Post css
*
 */

 .cat-link {
   font-weight: 500;
   text-transform: uppercase;
   font-size: 1em;
   color: #000;
   text-decoration: none;
     cursor: pointer;
     position: relative;
 }

 .cat-link:hover {
   text-decoration: none;
 }

 .cat-link::after {
     position: absolute;
     content: '';
     height: 2px;
     background: #ffcc00;
     left: 0;
     bottom: 0px;
     width: 100%;
 }

 .cat-link:hover, .cat-link:active { color: #000;}

 .post-title {}

.post-thumbnail {
  font-size: .8em;
}

/* archieve page */

.archive-thumbnail img {
  width: 100%;
  height: auto;
}
