/*
header class
 */

.news-nav{
      border-bottom: 1px solid #e6ebed;
}

.news-nav a {
    color: #000;

}

.news-nav .nav-item:hover {


}

#header-menu .menu-item:hover a {
  color: #fff;
  background: #000
}

/*
Off canvas menu
 */
.ocs-slidebar {
  z-index: 10000 !important;
}



/*
Top Articles
 */
 .news-lg-bg {
     height: 28em;
 }

 .news-md-bg {
    height: 12em; /*13.25*/
}

.text-shadow {
  text-shadow:0 2px 6px rgba(1,1,1,1);
}

.published-date {
  font-size: .8em;
}


/*
dividers
 */

 .vertical-divider {
   width: 1px;
   background-color: rgba(0,0,0,.1);
 }

 .divider {
   border-bottom: 1px solid rgba(0,0,0,.1);
 }

 .provost-section {
 border-bottom: 1px solid rgba(0,0,0,.1);
 }

 .colleges-list li {

 }

 .colleges-list li a{
   color: #000;
 }


/*
Provost New section frontpage
 */

.provost-new-list {

}



/*
sidebar
 */
.news-sidebar {
  border-left: 1px solid rgba(0,0,0,.1);
}

/*
Frontpage articles
 */

.pft-intro {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.pft-intro p {
  font-size: 1.2em;
  color:#6a6a6a;
}

.front-post {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.article-content .pft-title {
  font-weight: 400;
  color: #000;
}

.article-content .pft-title .article-content .pft-title:hover, .article-content .pft-title:active, .article-content .pft-title:visited {
  color: #000;
}


.front-post p{
  color:#6a6a6a;
}

.pft-readmore {
  color: #000;
  font-weight: 600;

}

/*
*
* Post css
*
 */

 .cat-link {
   font-weight: 500;
   text-transform: uppercase;
   font-size: 1em;
   color: #000;
   text-decoration: none;
     cursor: pointer;
     position: relative;
 }

 .cat-link:hover {
   text-decoration: none;
 }

 .cat-link::after {
     position: absolute;
     content: '';
     height: 2px;
     background: #ffcc00;
     left: 0;
     bottom: 0px;
     width: 100%;
 }

 .cat-link:hover, .cat-link:active { color: #000;}

 .post-title {}

.post-thumbnail {
  font-size: .8em;
}
